.detail-department-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.detail-department-content-container{
    display: flex;
    flex-grow: 1;
    background-color: #ebedea;
    padding: 20px 25px 0px 25px;
    flex-direction: column;
}
.detail-department-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    height: 88%;
}
.detail-department-infomation-general{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.detail-department-infomation-general-header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #d0d1d0;
    padding: 10px 35px;
    box-sizing: border-box;
    color: #555353;
}
.detail-department-info{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-left: 35px;
    padding-top: 20px;
    padding-right: 35px;
    gap: 5px;
}
.detail-department-info input{
    margin: 0px;
    outline: none;
    font-size: 16px;
    border: 1.5px solid #b7beb4;
    color: #161715;
    width: 100%;
    height: 40px;
}
.detail-department-info select{
    margin: 0px;
    outline: none;
    font-size: 16px;
    border: 1.5px solid #b7beb4;
    color: #161715;
    width: 100%;
    height: 40px;
    padding-left: 15px;
}
.detail-department-name{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.detail-department-name-label{
    font-size: 16px;
    font-weight: 595;
    color: #161715;
}
.detail-department-list-staff{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #FFFFFF;
}
.detail-department-list-staff-content{
    display: flex;
    flex-direction: column;
}
.detail-department-list-staff-filter{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
}
.detail-department-filter-user-name{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
}
.detail-department-filter-user-name-input {
    width: 100%;
}
.detail-department-filter-user-name-input input {
    width: 100%;
    outline: none;
    margin: 0;
    border: 1.5px solid #b7beb4;
}
.detail-department-filter-user-code{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
}
.detail-department-filter-user-code-input{
    width: 100%;
}
.detail-department-filter-user-code-input input {
    width: 100%;
    outline: none;
    margin: 0;
    border: 1.5px solid #b7beb4;
}
.detail-department-list-staff-table{
    width: 100%;
    display: flex;
    padding: 5px 30px 5px 30px;
    /* height: 375px; */
    overflow-y: auto;
}
.student-table1 {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    flex-grow: 1;
}
  
.student-table1 th{
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
}
.student-table1 td {
    border: 1px solid #ccc;
    padding: 5px 20px 5px 20px;
    text-align: center;         /* Canh giữa ngang */
    vertical-align: middle;     /* Canh giữa dọc */
}

.student-tabl1 thead {
    background-color: #547794;
    color: white;
}

.student-table1 tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

.student-table1 .action {
    border: none;
    padding: 6px;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
}

.student-table1 .action.reset {
    border: 2px solid #00a5a5;
    background-color: white;
    color: #00a5a5;
}

.student-table1 .action.blue {
    background-color: #0072c6;
    color: white;
}

.student-table1 .action.orange {
    background-color: #f9a825;
    color: white;
}

.student-table1 .action.gray {
    background-color: #cfcfcf;
    color: white;
}
.liststaff-table-content {
    width: 100%;
    overflow-x: auto; /* Cho scroll ngang nếu bảng quá dài */
}
.detail-department-content-tool{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
.detail-department-content-tool-cancel{
    border: 2px solid #e85757;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box; 
    padding: 5px 20px;
    gap: 10px;
    background-color: #FFFFFF;
    color: #e85757;
    font-family: 'Montserrat', sans-serif;
}
.detail-department-content-tool-cancel:hover{
    cursor: pointer;
}
.detail-department-content-tool-cancel:active{
    cursor: pointer;
    border: 2px solid #e85757;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box; 
    padding: 5px 20px;
    gap: 10px;
    background-color: #e85757;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.detail-department-content-tool-update{
    border: 2px solid #08a189;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box; 
    padding: 5px 20px;
    gap: 10px;
    background-color: #08a189;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.detail-department-content-tool-update:hover{
    cursor: pointer;
}
.detail-department-content-tool-update:active{
    cursor: pointer;
    border: 2px solid #08a189;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box; 
    padding: 5px 20px;
    gap: 10px;
    background-color: #FFFFFF;
    color: #08a189;
    font-family: 'Montserrat', sans-serif;
}