
.history-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    padding: 10px 10px;
    margin: 10px 0;
    width: 250px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
}
.success-border {
    border: 3px solid#00a5a5;
}

.error-border {
    border: 3px solid #fc645c;
}
   

.history-avatar img {
    width: 70px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.history-avatar {
    margin-right: 15px;
}

.history-information {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    color: #2d2d2d;
}

.user-code {
    color: #08a189;
    font-weight: 500;
}