.container-layout {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.right-layout {
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    min-height: 100vh;
}

/* Media queries for responsive design */
@media screen and (max-width: 1024px) {
    .right-layout {
        margin-left: 250px;
    }
}

@media screen and (max-width: 768px) {
    .container-layout {
        flex-direction: column;
    }

    .right-layout {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .container-layout {
        min-height: 100vh;
        flex-direction: column;
    }

    .right-layout {
        width: 100%;
        margin-left: 0;
        margin-bottom: 60px;
    }
}

/* Khi sidebar co lại, layout bên phải sẽ dãn ra */
.container-wrapper.collapsed~.right-layout {
    margin-left: 85px !important;
}

/* Responsive khi co sidebar */
@media screen and (max-width: 1200px) {
    .container-wrapper.collapsed~.right-layout {
        margin-left: 70px !important;
    }
}

@media screen and (max-width: 992px) {
    .container-wrapper.collapsed~.right-layout {
        margin-left: 60px !important;
    }
}

@media screen and (max-width: 768px) {
    .container-wrapper.collapsed~.right-layout {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    .container-wrapper.collapsed~.right-layout {
        margin-left: 0 !important;
        margin-bottom: 60px;
    }
}